.container {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 65px;
    width: 100%;
}

.containerText {
    margin-top: 130px;
    width: 50%;
}

.textPrincipal {
    font-size: 30px;
}

.descrição {
    font-size: 20px;
}

.containerBg {
    width: 50%;
    margin-left: 150px;
    margin-top: 30px;
}

.imagem {
    width: 70%;
}

.containerButtons {
    margin-left: 65px;
}

.Link {
    border: none;
}
.containerDois {
    margin-top: 20px;
    background-color: #abd1c6;
}

a {
    text-decoration: none;
}

