.container{
    display: flex;
    justify-content: space-around;
}

.form{
    display: flex;
    justify-content: center;
}

.svg{
    width: 40%;
    margin-top: 30px;
}

.titulo{
    text-align: center;
}