.container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.containerBg {
    width: 40%;
}

.containerLogin {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
    align-items: center;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .containerLogin {
        margin-top: 60px;
        width: 100%;
    }
}
